<div class="container mb-3">
    <h1 class="display-4 mb-3"><i class="fas fa-user-edit"></i> Edit Profile</h1>
    <%- include('./components/message') %>
        <form action="/user/update" method="POST">
            <div class="form-outline mb-3">
                <input type="text" name="name" id="name" class="form-control" value="<%- locals.name %>"
                    required></input>
                <label class="form-label" for="name">Name</label>
            </div>
            <div class="form-outline mb-2">
                <textarea type="text" name="bio" id="bio" class="form-control"
                    placeholder="tell the world a bit about yourself"><%- locals.bio %></textarea>
                <label class="form-label" for="bio">Biography</label>
            </div>
            <div class="mb-3">
                <p class="m-0">Avatar color</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="avatar" id="blackRadio" value="black"
                        <%=locals.avatar=='black.png' ? 'checked' : '' %>
                    required />
                    <label class="form-check-label" for="blackRadio">Black</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="avatar" id="blueRadio" value="blue"
                        <%=locals.avatar=='blue.png' ? 'checked' : '' %>
                    required />
                    <label class="form-check-label" for="inlineRadio2">Blue</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="avatar" id="greenRadio" value="green"
                        <%=locals.avatar=='green.png' ? 'checked' : '' %>
                    required />
                    <label class="form-check-label" for="greenRadio">Green</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="avatar" id="redRadio" value="red"
                        <%=locals.avatar=='red.png' ? 'checked' : '' %>
                    required />
                    <label class="form-check-label" for="redRadio">Red</label>
                </div>
                <div class="form-check form-check-inline" data-mdb-toggle="tooltip" title="Editor's choice">
                    <input class="form-check-input" type="radio" name="avatar" id="violetRadio" value="violet"
                        <%=locals.avatar=='violet.png' ? 'checked' : '' %>
                    required />
                    <label class="form-check-label" for="violetRadio">Violet</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="avatar" id="orangeRadio" value="orange"
                        <%=locals.avatar=='orange.png' ? 'checked' : '' %>
                    required />
                    <label class="form-check-label" for="orangeRadio">Orange</label>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary btn-block"><i class="fas fa-user-edit"></i> Apply
                Changes</button>
        </form>
</div>